* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'poppins', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'poppins', 'Arial', sans-serif;
    background-color: #F5F5F5;
    color: #747378;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #000000;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 24px;
    border-radius: 1000px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button > span > img {
    width: 24px;
    height: 24px;
}

button:hover {
    transform: translateY(-5px);
}

.btnSecondary {
    padding: 8px 20px;
    border: 2px solid #000;
}

.pills {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
    flex-wrap: wrap;
}

.pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 16px;
    border-radius: 1000px;
    background-color: #ffffff;
    color: #747378;
    font-size: 14px;
    font-weight: 500;
}

.pill > span > img {
    width: 20px;
    height: 20px;
}

.PillColored {
    color: #fff;
}

.pillUixUx {
    background-color: #6E2A69;
}

.pillGfx {
    background-color: #1BB933;
}

.pillWp {
    background-color: #177CD6;
}

.pillFigma {
    background-color: #2D3039;
}

.pillXD {
    background-color: #4D083E;
}

.pillPs {
    background-color: #1C2D4C;
}

.pillIl {
    background-color: #4A3114;
}

.pillAF {
    background-color: #00005A;
}

.pillInd {
    background-color: #4A142D;
}

.pillHtml {
    background-color: #E4552D;
}

.pillCss {
    background-color: #0770C3;
}

.pillJs {
    background-color: #EFDB54;
    color: #000;
}

nav {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.logo > a {
    font-family: 'poppins', 'Arial', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: middle;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1000px;
    padding: 8px 12px;
}

.address > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1000px;
}

.address img {
    width: 12px;
    height: 12px;
}

.menu_icon {
    width: 32px;
    height: 32px;
}

.floating_btns {
    position: fixed;
    right: 0;
    top: calc(50% - 100px);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px 8px;
    border-radius: 12px 0px 0px 12px;
    backdrop-filter: blur(10px);
}

section { 
    width: 100vw;
    padding: 0px 100px;
    margin-top: 100px;
    display: flex;
    align-items: start;
    justify-content: start;
}

#hero {
    width: 100vw;
    height: 80vh;
    background-color: #000;
    background-image: url('../Images/hero\ section\ \(1\).webp');
    background-size: 110%;
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 200px 30px 0200px;
    margin: 0;
    z-index: -1;
}

.hello {
    padding-right: 20px;
    font-size: 180px;
    font-weight: 700;
    font-style: italic;
    color: transparent;                     /* No fill */
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  mask-image: linear-gradient(to top, transparent 30%, white 80%);
  -webkit-mask-image: linear-gradient(to top, transparent 30%, white 80%);
}

.hero_txt {
    color: #ffffff;
    margin-top: -120px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.hero_txt h1 {
    font-size: 70px;
    font-weight: 500;
}

.hero_txt p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    color: #adadad;
}

#services {
    margin-top: -50px;
    display: none;
    flex-direction: row;
    gap: 20px;
    z-index: 20;
}

#services > img {
    width: 33%;
    max-width: 33%;
    height: 100%;
}

#projects {
    flex-direction: column;
    gap: 32px;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    width: 100vw;
    padding: 50px 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.fotterInnner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 32px;
    border-radius: 16px;
    color: #fff;
}

.projects_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 22px;
    flex-wrap: nowrap;
    padding: 20px 10px;
    overflow-x: scroll;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.projects_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.projectCard {
    min-width: calc((95% - 66px) / 3);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background-color: #EDEDED;
    border-radius: 32px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) ;
}

.projectCardTop {
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.projectTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
}

.projectDesc {
    font-size: 14px;
    font-weight: 400;
    color: #747378;
}

.projectImgCont {
    width: 450px;
    height: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.projectThumb {
    width: auto;
    height: 100%;
}

#about {
    flex-direction: column;
    gap: 32px;
}

.aboutBentoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
}

.bentoGridCol {
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.bentServiceCont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.bentoGridCol h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;

}

.bentoCard {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 32px;
    border-radius: 16px;
    background: #EDEDED;
}

.bentoCard p {
    font-size: 14px;
}

.BentoCard11 {
    gap: 16px;
    height: 100%;
}

.BentoCard12 {
    gap: 32px;
}

.BentoCard21 {
    gap: 24px;
    height: 100%;
}

.BentoCard21 {
    gap: 16px;
    height: 100%;
    position: relative;
}

.BentoCard21 > div  {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: start;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 1000px;
}

#line {
    width: 1px;
    height: calc(100% - 64px);
    position: absolute;
    left: 35px;
    background-color: #DAD7D7;
    z-index: 10;
}

.BentoCard21 > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 20;
}

.BentoCard22 {
    gap: 8px;
    height: 100%;
}

.BentoCard22 > div {
    gap: 8px;
}
